.settingmodal{
    display: inline-block;
    background-color:white;
	position: absolute;
    text-align: center;
	height: auto;
	width: 100vh;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow : rgba(0,0,0,0.3) 0 0 0 9999px;
    z-index: 100;
}
.settingmodal > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    animation: modal-show .3s;
}
.settingmodal > section button {
    color: gray;
    background-color: white;
    border: none;
    font-size: 13px;
    cursor: pointer;
    margin: 20px;
}
button:hover{
    font-weight: bold;
}
.settingmodal > section input {
    border: none;
    outline: none;
    text-align: center;
    height: 15px;
}

.settingmodal > section label {
    font-weight: bolder;
    margin-top: 20px;
    padding: 6px 35px;
    color: white;
    background-color: #d57358;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.settingmodal.openModal {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: modal-bg-show .3s;

}
@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
